:root {
    --colorGolden: #daa520;
    --color4: #f0f8ff;
    --colorblacklight: rgb(32, 32, 32);
    --FFChakra: 'Chakra Petch', sans-serif;
    --bgradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(52, 7, 66, 1) 100%);
}

.details {
    background: var(--bgradient);
    height: 100vh;
    font-family: var(--FFChakra);
}

.container_detail {
    justify-content: center;
    text-align: center;
}

.btn_home {
    margin-top: 2rem;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color4);
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--FFChakra);
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
}

.btn_home:hover {
    color: var(--colorGolden);
    background-color: var(--colorblacklight);
}

.title_container_detail {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
}

.title_detail {
    color: var(--color4);
    justify-content: center;
    text-align: center;
    font-size: 1.7rem;
    text-shadow: none;
    text-decoration: underline var(--colorGolden);
}

.image_detail {
    justify-content: center;
    aspect-ratio: 16/9;
    width: 560px;
    height: 300px;
    border: 3px solid var(--colorGolden);
    border-radius: 2px;
}

.description_detail,
.rating_detail,
.genres_detail,
.released_detail,
.platforms_detail {
    justify-content: center;
    text-align: center;
    color: var(--color4);
}

.description_detail {
    padding: 0 20%;
    text-align: justify;
}

.colorGolden {
    color: var(--colorGolden);
}