:root {
    --colorGolden: goldenrod;
    --color3: #450057;
    --colorblacklight: rgb(32, 32, 32);
}

.home {
    background-color: var(--color3);
}

.card_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding: 40px;
    place-self: center;
    transition: margin-left 0.3s 0.1s;
}

.pagination {
    margin: 1rem;
    cursor: pointer;
}

.noResultsAlert{
}

@media (max-width: 1634px) {
    .card_grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1299px) {
    .card_grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 999px) {
    .card_grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 699px) {
    .card_grid {
        grid-template-columns: 1fr;
    }
}