:root {
    --colorGolden: goldenrod;
    --color1: #780096;
    --color2: #9100b6;
    --color3: #450057;
    --colorblacklight: rgb(32, 32, 32);
    --FFCaveat: 'Caveat', cursive;
    --FFComfortaa: 'Comfortaa', cursive;
    --bgradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(52, 7, 66, 1) 100%);
}

.card_image {
    border-radius: 10px;
    border: rgba(0, 0, 0, 0.7) 3px solid;
    width: 270px;
    height: 210px;
}

.card_game:hover .card_image {
    border: var(--colorGolden) 3px solid;
}

.card_game {
    background: var(--bgradient);
    border-radius: 9px;
    padding-top: 1.6rem;
    padding-bottom: 0.5rem;
    text-align: center;
    list-style: none;
    opacity: 0.8;
    color: whitesmoke;
    font-family: var(--FFComfortaa);
    height: 450px;
    /*Para que las cards no sean unas mas grandes que otras*/
    transition: ease-in-out 0.15s;
}

.card_game:hover {
    opacity: 1;
    scale: 1.05;
}

.title_name {
    text-align: center;
    margin: 0.5rem;
}

.title_genre {
    text-align: center;
    text-transform: uppercase;
}

.genre {
    text-align: center;
}

.title_rating {
    text-transform: uppercase;
    text-align: center;
}

.rating {
    text-align: center;
    font-size: 1.2rem;
}

.card_game:hover .title_name,
.card_game:hover .title_genre,
.card_game:hover .title_rating {
    color: var(--colorGolden);
}