:root {
    --colorGolden: goldenrod;
    --color1: #780096;
    --colorblacklight: rgb(32, 32, 32);
    --FFCaveat: 'Caveat', cursive;
    --FFComfortaa: 'Comfortaa', cursive;
}

.landing_page {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
}

.col1 {
    grid-column: 1;
}

.col2 {
    grid-column: 2;
    background-color: var(--color1);
    height: 100vh;
    text-align: center;
}

.title {
    font-family: var(--FFCaveat);
    font-size: 4rem;
    margin-top: 14rem;
}

.subtitle {
    font-size: 1.4rem;
    font-family: var(--FFComfortaa);
}

.btn {
    font-family: var(--FFComfortaa);
    padding: 1rem;
    background-color: black;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color2);
    transition: ease-in-out 0.1s;
}

.btn:hover {
    border-radius: 10px;
    background-color: var(--colorblacklight);
    color: var(--colorGolden);
}

@media (max-width: 719px) {
    .landing_page {
        grid-template-rows: 2;
        grid-template-columns: 1fr;
    }

    .col1 {
        grid-column: auto;
        grid-row: 1;
        height: auto;
    }

    .col2 {
        grid-column: auto;
        grid-row: 2;
        height: 60vh;
    }

    .title {
        margin: 4rem;
    }
}