:root {
    --colorGolden: goldenrod;
    --color1: #780096;
    --color2: #9100b6;
    --color3: #450057;
    --colorblacklight: rgb(32, 32, 32);
    --FFCaveat: 'Caveat', cursive;
    --FFComfortaa: 'Comfortaa', cursive;
    --FFChakra: 'Chakra Petch', sans-serif;
    --bgradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(52, 7, 66, 1) 100%);
}

.error {
    color: red;
}

.form_creation {
    grid-column: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -10rem;
}

.create_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--color3);
    height: 100vh;
    font-family: var(--FFComfortaa);
}

.lets_go {
    color: var(--colorGolden);
    text-shadow: 3px 2px 6px rgba(0, 0, 0, 0.87);
    font-size: 4rem;
}

.button_home {
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.877);
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--FFChakra);
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: black;
}

.button_home:hover {
    color: var(--colorGolden);
    background-color: var(--colorblacklight);
}

.input,
.genres_input,
.platforms_input,
.released_input {
    width: 25rem;
    height: 2rem;
    color: rgb(118, 118, 118);
    border-radius: 0.5rem;
    list-style: none;
    outline: none;
    border: none;
    margin-bottom: 2rem;
}

.released_input {
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}

.rating_input {
    width: 4rem;
    height: 1.8rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    color: black;
}

.create {
    justify-content: center;
    width: 7rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    border-color: rgb(139, 60, 60);
    background-color: rgb(139, 60, 60);
    color: var(--colorGolden);
    font-weight: bold;
    cursor: pointer;
}

.create:hover {
    background-color: var(--colorGolden);
    color: rgb(139, 60, 60);
}

.x_container {
    font-size: 1rem;
    color: var(--color4);
    grid-column: 3;
    text-align: right;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
}

.selected_gen,
.selected_plat {
    font-size: 1.2rem;
    margin-top: -1.4rem;
    text-align: left;
}

.x_genres {
    margin: 3rem;
    grid-row: 1;
    background-color: var(--colorblacklight);
}

.x_platforms {
    margin: 3rem;
    background-color: var(--colorblacklight);
    grid-row: 2;
}

.x_platform_button,
.x_genre_button {
    border-radius: 0.3rem;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: red;
}