
.card_image{
    border-radius: 10px;
    border: rgb(139, 60, 60) 3px solid ;
    width: 270px;
    height:210px;
    background-color: transparent;
   
}    
   



.card_image:hover {
    border: goldenrod 3px solid;
    

}

.card_game {
    text-align: center;
    list-style: none;
   
}

.card_game:hover {
    
    opacity: 0.8;

}

.title_name {
    
    text-align: center;
    color: white;
    margin: 0.5rem;
}

.title_genre {
    text-align: center;
    color: rgb(7, 202, 7);
    
}
.genre {
    
    text-align: center;
    margin-top: 1rem;
    color: white;
    margin-top: 0rem;
}

.title_rating {
    text-align: center;
    color: rgb(7, 202, 7);
    
}

.rating {
    
    text-align: center;
    margin-top: 1rem;
    color: white;
    margin-top: 0rem;
}
