:root {
    --colorGolden: goldenrod;
    --color1: #780096;
    --color2: #9100b6;
    --color3: #450057;
    --colorblacklight: rgb(32, 32, 32);
    --FFCaveat: 'Caveat', cursive;
    --FFComfortaa: 'Comfortaa', cursive;
    --FFChakra: 'Chakra Petch', sans-serif;
    --bgradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(52, 7, 66, 1) 100%);
}

.cambiar_class {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.877);
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--FFChakra);
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: black;
}

.cambiar_class:hover {
    color: var(--colorGolden);
    background-color: var(--colorblacklight);
}