.landing_page {
    width: 100vw;
    height: 100vh;
/* background: linear-gradient(rgba(150, 177, 245, 0.75), rgba(5, 7, 12, 0.75));*/
    background-image: url('../image/personas1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin: -40px;
    padding-top: 80px;
}

.title_landing {
    text-indent: 35%;
    font-size: 2.2rem;
    text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 30px goldenrod, 0 0 30px goldenrod, 0 0 30px goldenrod, 0 0 30px goldenrod;
    word-spacing: 0.1cm;
    width: 80rem;
    margin-top: 9rem;
    padding-left: 3rem;
    
    
   
}

.subtitle_landing {
    text-align: center;
    justify-content: center;
    font-size: large;
    width: 30rem;
    margin-left: 45rem;
    margin-top: -0rem;
    color: white;
   
    
    
}

.button_landing {
    
    color: white;
    border: 10px rgb(139, 60, 60);
    border-radius: 0.5rem;
    background-color: goldenrod;
    cursor: pointer;
    font: bold 30px 'Abadi';
    font-weight: 900;
    font-size: 30px;
    margin-bottom: -150px 1px;
    margin-right: -700px;
    width: 85px;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    opacity: 0.8;

    
}

.button_landing:hover {
    opacity: 1;
 
    
    
}

