:root {
    --FFChakra: 'Chakra Petch', sans-serif;
    --colorGolden: goldenrod;
    --color3: #450057;
    --color4: #f0f8ff;
    --colorblacklight: rgb(32, 32, 32);
}

.colorGolden {
    color: var(--colorGolden);
}

.text,
.title {
    color: var(--color4);
    text-align: justify;
    margin: 0 20%;
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
}

.about {
    font-family: var(--FFChakra);
    background-color: var(--color3);
    height: 100vh;
}

.link_btn_home {
    display: grid;
    text-decoration: none;
    margin-bottom: 3rem;
}

.btn_home {
    margin-top: 2rem;
    place-self: center;
    padding: 5px 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.877);
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--FFChakra);
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
}

.btn_home:hover {
    color: var(--colorGolden);
    background-color: var(--colorblacklight);
}

.developedby {
    font-size: 1.6rem;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: light;
    font-size: 2.5rem;
    color: var(--color4);
}

.role {
    font-weight: bold;
    color: var(--colorGolden);
}

.textnotyet {
    color: var(--colorblacklight);
    font-size: 1rem;
}

.contact,
.presentation {
    margin: 1rem 0;
    background-color: black;
}

.text {
    font-size: 1.35rem;
}

.title {
    text-align: center;
}

.technologies {
    margin: 2rem 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    user-select: none;
    gap: 1rem;
}

.html,
.css,
.js,
.react,
.express,
.sequelize {
    text-align: center;
    font-weight: bold;
    width: 7rem;
    border-radius: 200px;
    padding: 0.7rem 0;
    color: black;
    transition: ease-in-out 0.2s;
    font-size: 1.25rem;
}

.html:hover,
.css:hover,
.js:hover,
.react:hover,
.express:hover,
.sequelize:hover {
    scale: 1.09;
}

.html {
    background-color: #ff8717;
}

.html:hover {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff8717, 0 0 70px #ff8717, 0 0 80px #ff8717, 0 0 100px #ff8717;
}

.css {
    background-color: #0084ff;
}

.css:hover {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #0084ff, 0 0 70px #0084ff, 0 0 80px #0084ff, 0 0 100px #0084ff;
}

.js {
    background-color: #ffe600;
}

.js:hover {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ffe600, 0 0 70px #ffe600, 0 0 80px #ffe600, 0 0 100px #ffe600;
}

.react {
    background-color: #27ccfa;
}

.react:hover {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #27ccfa, 0 0 70px #27ccfa, 0 0 80px #27ccfa, 0 0 100px #27ccfa;
}

.express {
    background-color: #008000;
}

.express:hover {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #008000, 0 0 70px #008000, 0 0 80px #008000, 0 0 100px #008000;
}

.sequelize {
    background-color: #ff6e6e;
}

.sequelize:hover {
    text-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 40px #ff6e6e, 0 0 70px #ff6e6e, 0 0 80px #ff6e6e, 0 0 100px #ff6e6e;
}

.redes {
    font-size: 1.35rem;
    margin: 1rem 20%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
}

.redes a {
    color: var(--color4);
    text-decoration: none;
    transition: ease-in-out 0.1s;
    padding: 0.5rem;
    border: 1px solid transparent;
}

.redes a:hover {
    color: var(--colorGolden);
    border-color: var(--colorGolden);
}