:root {
    --FFChakra: 'Chakra Petch', sans-serif;
}

.about {
    font-family: var(--FFChakra);
}

.btn_home {
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.877);
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--FFChakra);
    outline: none;
    border: none;
    border-radius: 6px;
    background-color: black;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: light;
    font-size: 2rem;
}

.role {
    font-weight: bold;
}