:root {
    --colorGolden: goldenrod;
    --colorblacklight: rgb(32, 32, 32);
    --color4: #f0f8ff;
    --color5: #270031;
    --FFChakra: 'Chakra Petch', sans-serif;
}

.navbar {
    background-color: var(--color5);
    padding-bottom: 1rem;
}

.navbar_searchbar {
    display: block;
    position: center;
    text-align: center;
}

.navbar_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.select {
    font-family: var(--FFChakra);
    cursor: pointer;
    text-align: center;
    outline: none;
    margin-top: 2rem;
    height: 1.5rem;
    width: 8rem;
    font-size: 1.1rem;
    border-color: black;
    background-color: black;
    border-radius: 5px;
    color: var(--color4);
}

.select:hover {
    background-color: var(--colorblacklight);
    opacity: 0.9;
    font-weight: bold;
    color: var(--colorGolden);
}

.button_create_videogame,
.button_about,
.button_reload {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color4);
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--FFChakra);
    outline: none;
    border: 1px solid black;
    border-radius: 6px;
    background-color: black;
}

.button_about:hover,
.button_create_videogame:hover,
.button_reload:hover {
    color: var(--colorGolden);
    background-color: var(--colorblacklight);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button_container {
    display: flex;
    gap: 2rem;
}